@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

#geral-meio{
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#geral-meio-um{
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
}

#quadradoum{
    display: flex;
    background-color: pink;
    border-radius: 20px;
    padding: 5px;
}

.boxum{
    background-color: blue;
    place-content: start;
    align-items: center;
    align-content: center;
    display: flex;
    width: 40%;
    border-radius: 15px;
    height: 30px;
}

.box-um{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 20%;
    border-radius: 15px;
    height: 30px;
}

.box-dois{
    background-color: gray;
    place-content: start;
    align-items: center;
    display: flex;
    width: 40%;
    border-radius: 15px;
    height: 30px;
}

.box-tres{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 20%;
    border-radius: 15px;
    height: 30px;
}

.box-quatro{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 20%;
    border-radius: 15px;
    height: 30px;
}

.box-um-um{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 30%;
    border-radius: 15px;
    height: 30px;
}

.box-dois-dois{
    background-color: gray;
    place-content: start;
    align-items: center;
    display: flex;
    width: 15%;
    border-radius: 15px;
    height: 30px;
}

.box-tres-tres{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 30%;
    border-radius: 15px;
    height: 30px;
}

.box-quatro-quatro{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 30%;
    border-radius: 15px;
    height: 30px;
}

.box-um-um-um{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 10%;
    border-radius: 15px;
    height: 30px;
}

.box-dois-dois-dois{
    background-color: gray;
    place-content: start;
    align-items: center;
    display: flex;
    width: 70%;
    border-radius: 15px;
    height: 30px;
}

.box-tres-tres-tres{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 10%;
    border-radius: 15px;
    height: 30px;
}

.box-quatro-quatro-quatro{
    background-color: blue;
    place-content: start;
    align-items: center;
    display: flex;
    width: 10%;
    border-radius: 15px;
    height: 30px;
}
.efeito:hover{
    background-color: azure;
    transition: 0.7s all;
}
.efeito2:hover{
    background-color: blueviolet;
    transition: 0.7s all;
}
.efeito3:hover{
    background-color: chartreuse;
    transition: 0.7s all;
}
.efect:hover{
    background-color: darkblue;
    transition: 0.7s all;
}